.container-fluid {
  padding : 5%;
}

/*============================ BOARD STYLINGS =============================*/

#tableBoard {
  max-width : 500px;
}

.table>tbody>tr>td {
  border-top : none;
}

.square {
  display : inline-block;
  height : 150px;
  width : 150px !important;
  padding : 0;
  font-size : 7em;
  text-align : center;
}

.board {
  padding : 0;
}

.board-top {
  border-bottom : 2px solid #333 !important;
}

.board-bottom {
  border-top : 2px solid #333 !important;
}

.board-left {
  border-right : 2px solid #333 !important;
}

.board-right {
  border-left : 2px solid #333 !important;
}

.win{
  color : #1F9442;
  font-size : 7.5em;
}

/*============================ USER INTERFACE STYLINGS =============================*/

#btn-group-X {
  margin-right: 50%;
}

.dropdown-toggle {
  width : 200%;
  font-size : 1.5em;
}

li button {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  border : none !important;
  background-color : transparent;
}

li:hover {
  background-color: #f5f5f5;
}

#playerX, #playerO {
  margin-top: 5%
}

.loop ul li button {
  margin : auto;
}

#play {
  margin-top : 25%;
  width : 100%;
  font-size : 1.5em;
}

.loop {
  margin-top : 15%;
  width : 50%;
}


/*============================ RESULTS STYLINGS =============================*/

.results {
  padding : 0, 10%;
}







