.container {
  padding : 5%;
}

/*============================ BOARD STYLINGS =============================*/

#tableBoard {
  max-width : 500px;
}

.table>tbody>tr>td {
  border-top : none;
}

.square {
  display : inline-block;
  height : 150px;
  width : 150px !important;
  padding : 0;
  font-size : 7em;
  text-align : center;
}

.board {
  padding : 0;
}

.board-top {
  border-bottom : 2px solid #333 !important;
}

.board-bottom {
  border-top : 2px solid #333 !important;
}

.board-left {
  border-right : 2px solid #333 !important;
}

.board-right {
  border-left : 2px solid #333 !important;
}

.win{
  color : #1F9442;
  font-size : 7.5em;
}

/*============================ RESULTS STYLINGS =============================*/

.winner {
  margin-top : 20px;
}

#playAgain {
  height : 75%;
  width : 35%;
  font-size : 2em;
  margin : 0 0 10px 10%;
  padding-top : 0;
}

label {
  font-size : 2em;
}

















