.container {
  padding : 5%;
}

#tableBoard {
  max-width : 500px;
}

.square {
  display : inline-block;
  height : 150px;
  width : 150px !important;
  border : solid #333;
  padding : 0;
  font-size : 7em;
  text-align : center;
}

.board {
  padding : 0;
}

#zero {
  border-width : 0 3px 3px 0;
}

#one {
  border-width : 0 0 2px;
  height : 149px;
}

#two {
  border-width : 0 0 3px 3px;
}

#three {
  border-width : 0 2px 0 0;
  margin-right : 1px;
}

#four {
  border-width : 2px;
}

#five {
  border-width : 0 0 0 2px;
  margin-left : 1px;
}

#six {
  border-width : 3px 3px 0 0;
}

#seven {
  border-width : 2px 0 0;
  margin-top : 1px;
}

#eight {
  border-width : 3px 0 0 3px;
}

.win{
  color : #1F9442;
  font-size : 7.5em;
}

.winner {
  margin-top : 20px;
}

#playAgain {
  height : 75%;
  width : 35%;
  font-size : 2em;
  margin : 0 0 10px 10%;
  padding-top : 0;
}




