doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='styles/main.css')
    title TicTacToe
  body
    .container
      .row
        .col-lg-6
          table#tableBoard.table.table-responsive
            tr
              td#zero.square
              td#one.square
              td#two.square
            tr
              td#three.square
              td#four.square
              td#five.square
            tr
              td#six.square
              td#seven.square
              td#eight.square
        .col-lg-6.winner
          canvas#results

    include partials/footer
