doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='lib/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='styles/main.css')
    title TicTacToe
  body
    .container
      .row
        .col-lg-6
          table#tableBoard.table.table-responsive
            tr
              td.square.board-top.board-left
              td.square.board-top
              td.square.board-top.board-right
            tr
              td.square.board-left
              td.square
              td.square.board-right
            tr
              td.square.board-bottom.board-left
              td.square.board-bottom
              td.square.board-bottom.board-right
        .col-lg-6.winner
          .row
            h3 X :
            .radio
              .form-group
                label #[input#userX(type='radio' name='playerX' value='user' checked)] User
              .form-group
                label #[input#noviceX(type='radio' name='playerX' value='novice')] Novice Opponent
              .form-group
                label #[input#intermediateX(type='radio' name='playerX' value='intermediate')] Intermediate Opponent
              .form-group
                label #[input#expertX(type='radio' name='playerX' value='expert')] Expert Opponent
            h3 O :
            .radio
              .form-group
                label #[input#userO(type='radio' name='playerO' value='user')] User
              .form-group
                label #[input#noviceO(type='radio' name='playerO' value='novice')] Novice Opponent
              .form-group
                label #[input#intermediateO(type='radio' name='playerO' value='intermediate')] Intermediate Opponent
              .form-group
                label #[input#expertO(type='radio' name='playerO' value='expert' checked)] Expert Opponent
          .row
            .results
            canvas#stats
    include partials/footer
