doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='styles/main.css')
    title TicTacToe
  body
    .container
      .row
        #zero.col-lg-4.square
        #one.col-lg-4.square
        #two.col-lg-4.square
      .row
        #three.col-lg-4.square
        #four.col-lg-4.square
        #five.col-lg-4.square
      .row
        #six.col-lg-4.square
        #seven.col-lg-4.square
        #eight.col-lg-4.square
    include partials/footer
