doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='lib/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='styles/main.css')
    title TicTacToe
  body
    .container-fluid
      .row
        .col-lg-3.winner
          .row
            .btn-group#btn-group-X
              button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") X #[span.caret]
              ul.dropdown-menu.player-menu
                li#userX
                  button User
                li#noviceX
                  button Novice Computer
                li#intermediateX
                  button Intermediate Computer
                li#expertX
                  button Expert Computer
            .btn-group
              button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") O #[span.caret]
              ul.dropdown-menu.player-menu
                li#userO
                  button User
                li#noviceO
                  button Novice Computer
                li#intermediateO
                  button Intermediate Computer
                li#expertO
                  button Expert Computer
          .row
            h3#playerX X :
          .row
            h3#playerO O :
          .row
            .btn-group.loop
              button.btn.btn-warning.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Loop #[span.caret]
              ul.dropdown-menu
                li#one
                  button 1
                li#five
                  button 5
                li#ten
                  button 10
          .row
            button.btn.btn-success.disabled#play Play
        .col-lg-5
          table#tableBoard.table.table-responsive
            tr
              td.square.board-top.board-left
              td.square.board-top
              td.square.board-top.board-right
            tr
              td.square.board-left
              td.square
              td.square.board-right
            tr
              td.square.board-bottom.board-left
              td.square.board-bottom
              td.square.board-bottom.board-right
        .col-lg-4
          .results
          canvas#stats
    include partials/footer
